## Connect to Spark standalone cluster

In [ ]:
try:
    spark.stop()
except:
    print("No Spark Session")

In [ ]:
import pyspark
import pymssql
import pandas as pd
from pyspark import SparkContext, SparkConf, pandas as ps
from pyspark.sql import SparkSession

In [ ]:
!/usr/local/spark/sbin/stop-all.sh

In [ ]:
!/usr/local/spark/sbin/start-all.sh

In [ ]:
!jps

In [ ]:
spark = SparkSession.builder \
        .appName("Southbridge Analytics") \
        .master("spark://sparkc:7077") \
        .getOrCreate()

## Connect to SQL Server

In [ ]:
server = 'sql'
user = 'sa'
password = 'P@ssw0rd'
database = 'adworks'

conn = pymssql.connect(server, user, password, database)  

sql1 = """
SELECT c.CustomerID, c.CompanyName,COUNT(soh.SalesOrderID) AS OrderCount 
FROM SalesLT.Customer AS c LEFT OUTER JOIN SalesLT.SalesOrderHeader AS soh 
ON c.CustomerID = soh.CustomerID 
GROUP BY c.CustomerID, c.CompanyName 
ORDER BY OrderCount DESC;
"""

sql2 = """
SELECT c.CompanyName, a.AddressLine1, ISNULL(a.AddressLine2, '') AS AddressLine2,
a.City, a.StateProvince, a.PostalCode, a.CountryRegion, oh.SalesOrderID, oh.TotalDue
FROM SalesLT.Customer AS c
JOIN SalesLT.SalesOrderHeader AS oh
ON oh.CustomerID = c.CustomerID
JOIN SalesLT.CustomerAddress AS ca
ON c.CustomerID = ca.CustomerID AND AddressType = 'Main Office'
JOIN SalesLT.Address AS a
ON ca.AddressID = a.AddressID;
"""

## Query SQL and convert to DataFrame

In [ ]:
# convert to DF
df1 = pd.read_sql(sql1, conn)
df2 = pd.read_sql(sql2, conn)

spdf1 = spark.createDataFrame(df1)
spdf2 = spark.createDataFrame(df2)

spdf1.show(5)
spdf2.show(5)

## Write DataFrame to HDFS as Parquet

In [ ]:
import os
# create dir in hdfs if not already there
os.system('hdfs dfs -mkdir hdfs://localhost:9000/sql-spoke/')

In [ ]:
spdf1.write.parquet("hdfs://localhost:9000/sql-spoke/sql1.parquet")
spdf2.write.parquet("hdfs://localhost:9000/sql-spoke/sql2.parquet")

In [ ]:
testdf1 = spark.read.parquet("hdfs://localhost:9000/sql-spoke/sql1.parquet")
testdf2 = spark.read.parquet("hdfs://localhost:9000/sql-spoke/sql2.parquet")

In [ ]:
testdf1.show(2)
testdf2.show(2)

In [ ]:
spark.stop()

In [1]:
import os
import pyspark
import pymssql
import pandas as pd
from pyspark import SparkContext, SparkConf, pandas as ps
from pyspark.sql import SparkSession

try:
    spark.stop()
except:
    print("No Spark Session")

sparkClassPath =  '/usr/local/spark/jars/sqljdbc42.jar'

spark = SparkSession.builder \
        .config("spark.driver.extraClassPath", sparkClassPath) \
        .config("spark.jars", sparkClassPath) \
        .appName("Southbridge Analytics") \
        .master("local") \
        .getOrCreate()

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

No Spark Session
22/08/10 19:56:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
server = "sql"
database = "adworks"
table = "SalesLT.Customer"
user = "sa"
password  = "P@ssw0rd"
 
#read table data into a spark dataframe
jdbcDF = spark.read.format("jdbc") \
    .option("url", f"jdbc:sqlserver://{server}:1433;databaseName={database};") \
    .option("dbtable", table) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .load()

In [4]:
jdbcDF.show()

+----------+---------+-----+-----------+----------+----------+------+--------------------+--------------------+--------------------+-------------------+--------------------+------------+--------------------+-------------------+
|CustomerID|NameStyle|Title|  FirstName|MiddleName|  LastName|Suffix|         CompanyName|         SalesPerson|        EmailAddress|              Phone|        PasswordHash|PasswordSalt|             rowguid|       ModifiedDate|
+----------+---------+-----+-----------+----------+----------+------+--------------------+--------------------+--------------------+-------------------+--------------------+------------+--------------------+-------------------+
|         1|    false|  Mr.|    Orlando|        N.|       Gee|  null|        A Bike Store|adventure-works\p...|orlando0@adventur...|       245-555-0173|L/Rlwxzp4w7RWmEgX...|    1KjXYs4=|3F5AE95E-B87D-4AE...|2005-08-01 00:00:00|
|         2|    false|  Mr.|      Keith|      null|    Harris|  null|  Progressive Sports|adventure-works\d...|keith0@adventure-...|       170-555-0127|YPdtRdvqeAhj6wyxE...|    fs1ZGhY=|E552F657-A9AF-4A7...|2006-08-01 00:00:00|
|         3|    false|  Ms.|      Donna|        F.|  Carreras|  null|Advanced Bike Com...|adventure-works\j...|donna0@adventure-...|       279-555-0130|LNoK27abGQo48gGue...|    YTNH5Rw=|130774B1-DB21-4EF...|2005-09-01 00:00:00|
|         4|    false|  Ms.|      Janet|        M.|     Gates|  null|Modular Cycle Sys...|adventure-works\j...|janet1@adventure-...|       710-555-0173|ElzTpSNbUW1Ut+L5c...|    nm7D5e4=|FF862851-1DAA-404...|2006-07-01 00:00:00|
|         5|    false|  Mr.|       Lucy|      null|Harrington|  null|Metropolitan Spor...|adventure-works\shu0|lucy0@adventure-w...|       828-555-0186|KJqV15wsX3PG8TS5G...|    cNFKU4w=|83905BDC-6F5E-4F7...|2006-09-01 00:00:00|
|         6|    false|  Ms.|   Rosmarie|        J.|   Carroll|  null|Aerobic Exercise ...|adventure-works\l...|rosmarie0@adventu...|       244-555-0112|OKT0scizCdIzymHHO...|    ihWf50M=|1A92DF88-BFA2-467...|2007-09-01 00:00:00|
|         7|    false|  Mr.|    Dominic|        P.|      Gash|  null|    Associated Bikes|adventure-works\shu0|dominic0@adventur...|       192-555-0173|ZccoP/jZGQm+Xpzc7...|    sPoUBSQ=|03E9273E-B193-448...|2006-07-01 00:00:00|
|        10|    false|  Ms.|   Kathleen|        M.|     Garza|  null|Rural Cycle Emporium|adventure-works\j...|kathleen0@adventu...|       150-555-0127|Qa3aMCxNbVLGrc0b9...|    Ls05W3g=|CDB6698D-2FF1-4FB...|2006-09-01 00:00:00|
|        11|    false|  Ms.|  Katherine|      null|   Harding|  null|         Sharp Bikes|adventure-works\j...|katherine0@advent...|       926-555-0159|uRlorVzDGNJIX9I+e...|    jpHKbqE=|750F3495-59C4-48A...|2005-08-01 00:00:00|
|        12|    false|  Mr.|     Johnny|        A.|    Caprio|   Jr.|Bikes and Motorbikes|adventure-works\g...|johnny0@adventure...|       112-555-0191|jtF9jBoFYeJTaET7x...|    wVLnvHo=|947BCAF1-1F32-44F...|2006-08-01 00:00:00|
|        16|    false|  Mr.|Christopher|        R.|      Beck|   Jr.| Bulk Discount Store|adventure-works\jae0|christopher1@adve...|1 (11) 500 555-0132|sKt9daCzEEKWAzivE...|    8KfYx/4=|C9381589-D31C-4EF...|2006-09-01 00:00:00|
|        18|    false|  Mr.|      David|        J.|       Liu|  null|       Catalog Store|adventure-works\m...|david20@adventure...|       440-555-0132|61zeTkO+eI5g8GG0s...|    c7Ttvv0=|C04D6B4D-94C6-4C5...|2005-08-01 00:00:00|
|        19|    false|  Mr.|       John|        A.|    Beaver|  null|   Center Cycle Shop|adventure-works\p...|john8@adventure-w...|       521-555-0195|DzbqWX7B3EK5Dub92...|    zXNgrJw=|69AE5D43-31BE-4B7...|2007-04-01 00:00:00|
|        20|    false|  Ms.|       Jean|        P.|   Handley|  null|Central Discount ...|adventure-works\d...|jean1@adventure-w...|       582-555-0113|o1GVo3vExeNzo0/ct...|    uMsvfdo=|E010C10A-F1C3-4BB...|2005-09-01 00:00:00|
|        21|    false| null|    Jinghao|      null|       Liu|  null|Chic Department S...|adventure-works\j...|jinghao1@adventur...|       928-555-0116|IaD5AeqK9mRiIrJi/...|    p6pOqKc=|564E0B42-4609-43D...|2006-09-01 00:00:00|
|        22|    false|  Ms.|      Linda|        E.|   Burnett|  null|      Travel Systems|adventure-works\j...|linda4@adventure-...|       121-555-0121|23AwhujCoXYSPiN/B...|    SmyIPjE=|9774AED6-D673-412...|2005-08-01 00:00:00|
|        23|    false|  Mr.|      Kerim|      null|     Hanif|  null|          Bike World|adventure-works\shu0|kerim0@adventure-...|       216-555-0122|d0WSjosAd7Y3XOWjN...|    33g5co8=|733F8250-3251-4C2...|2006-09-01 00:00:00|
|        24|    false|  Mr.|      Kevin|      null|       Liu|  null|Eastside Departme...|adventure-works\l...|kevin5@adventure-...|       926-555-0164|ylTpkIOHKLcjihNjS...|    TgZnUOg=|C111E51D-178D-4DB...|2006-09-01 00:00:00|
|        25|    false|  Mr.|     Donald|        L.|   Blanton|  null|Coalition Bike Co...|adventure-works\shu0|donald0@adventure...|       357-555-0161|pKYDelLBOZMO98GBz...|    jKtOaOw=|31D03546-FB2A-448...|2006-09-01 00:00:00|
|        28|    false|  Ms.|     Jackie|        E.| Blackwell|  null|Commuter Bicycle ...|adventure-works\j...|jackie0@adventure...|       972-555-0163|wqhgKfOTfef4Zo3cb...|    SZ+r60o=|9B8A04A4-D909-4F4...|2007-08-01 00:00:00|
+----------+---------+-----+-----------+----------+----------+------+--------------------+--------------------+--------------------+-------------------+--------------------+------------+--------------------+-------------------+
only showing top 20 rows